
h1 {
  color: blue;
}


#main-body {
  background-color: grey;
  background: url(/images/index_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#game-body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#instructions {
  color: white;
  margin-left: 10%;
  font-size: 40px;
  float: left;
}

.wrapper {
  text-align: center;
}

#start-button {
  position: absolute;
  top: 35%;
  right: 50%;
  background-color: black;
  border: 0;
  padding: 0;
  margin: 0;

}


#game-canvas {
  background-image: url("/images/backGround.jpg");
  display: block;
  margin: 0 auto;
}

#restart-button {
  display: none;
  text-align: center;
  margin-right: 10%;
  margin-top: 3%;
  width: 170px;
  height: 75px;
  font-size: 50px;
  border-radius: 10px;
  background-color: tomato;
  float: right;
}